@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1640656520453") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-browse:before {
  content: "\e666";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-favorite:before {
  content: "\e670";
}

.icon-home:before {
  content: "\e674";
}

.icon-help:before {
  content: "\e677";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-search:before {
  content: "\e67d";
}

.icon-user:before {
  content: "\e682";
}

.icon-upload:before {
  content: "\e683";
}
